;; ./config.edn
{:app/data-dir           "data/default"         ;; portable, relative to repo
 :app/snapshot-every     100
 :app/server-port        8080

 :xtdb/enabled?          true
 :xtdb/config-path       "apps/graph-memory/resources/xtdb.edn"

;; optional run-time behaviours
 :warmup/enable?         true
 :warmup/focus-k         5}
