{:aliases
 {:api {:deps {api/api {:local/root "apps/api"}}
        :main-opts ["-m" "api.server"]}
  :headless-api {:deps {api/api {:local/root "apps/api"}}
                 :main-opts ["-m" "api.server"]}}}
