[{:in "Met Serena at PatCon 30"
  :summary "noted. you mentioned: Met, Serena, at, PatCon, 30, Met Serena."
  :entities [{:label "Met" :types #{}}
             {:label "Serena" :types #{}}
             {:label "at" :types #{}}
             {:label "PatCon" :types #{}}
             {:label "30" :types #{}}
             {:label "Met Serena" :types #{}}]
  :new-labels ["30" "Met" "Met Serena" "Met Serena at PatCon 30" "PatCon" "Serena" "at"]}
 {:in "Graph Memory feels like a notebook"
  :summary "noted. you mentioned: Met, Serena, at, PatCon, 30, Met Serena, Graph, Memory, feels, like, a, notebook, Graph Memory."
  :entities [{:label "Met" :types #{}}
             {:label "Serena" :types #{}}
             {:label "at" :types #{}}
             {:label "PatCon" :types #{}}
             {:label "30" :types #{}}
             {:label "Met Serena" :types #{}}
             {:label "Graph" :types #{}}
             {:label "Memory" :types #{}}
             {:label "feels" :types #{}}
             {:label "like" :types #{}}
             {:label "a" :types #{}}
             {:label "notebook" :types #{}}
             {:label "Graph Memory" :types #{}}]
  :new-labels ["Graph" "Graph Memory" "Graph Memory feels like a notebook" "Memory" "a" "feels" "like" "notebook"]}
 {:in "What's the state of the graph?"
  :summary "noted. you mentioned: Met, Serena, at, PatCon, 30, Met Serena, Graph, Memory, feels, like, a, notebook, Graph Memory, What's, the{:Word?}, state, of, graph."
  :entities [{:label "Met" :types #{}}
             {:label "Serena" :types #{}}
             {:label "at" :types #{}}
             {:label "PatCon" :types #{}}
             {:label "30" :types #{}}
             {:label "Met Serena" :types #{}}
             {:label "Graph" :types #{}}
             {:label "Memory" :types #{}}
             {:label "feels" :types #{}}
             {:label "like" :types #{}}
             {:label "a" :types #{}}
             {:label "notebook" :types #{}}
             {:label "Graph Memory" :types #{}}
             {:label "What's" :types #{}}
             {:label "the" :types #{:Word?}}
             {:label "state" :types #{}}
             {:label "of" :types #{}}
             {:label "graph" :types #{}}]
  :new-labels ["What's" "What's the state of the graph?" "graph" "of" "state" "the"]}]
